{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container py-3">
        <div class="form">
            <div class="row">
            <div class="col-2">
                <div class="photo">
                    {{ form_start(registrationForm) }}
                    <p>{{ form_row(registrationForm.img) }}</p>
                </div>
            </div>
            <div class="col-5">
                <h4>Inscription</h4>

                {# {{ form_start(registrationForm) }} #}
                    {{ form_row(registrationForm.nom) }}
                    {{ form_row(registrationForm.prenom) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.societe) }}
                    {{ form_row(registrationForm.fonction) }}
                    {{ form_row(registrationForm.adresseSociete) }}
                   
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button type="submit" class="btn">Valider</button>
                {# {{ form_end(registrationForm) }} #}
            </div>
            <div class="col-5">
                {# {{ form_start(registrationForm) }} #}

                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                {{ form_end(registrationForm) }}

            </div>
        </div>
        
        </div>
        
        
    </div>

    
{% endblock %}
