{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container py-3">
        <div class="form">
            <div class="row">
            <div class="col-2">
                <div class="photo">
                    {{ form_start(registrationForm) }}
                    <p>{{ form_row(registrationForm.img) }}</p>
                </div>
            </div>
            <div class="col-5">
                <h4>Inscription</h4>

                {# {{ form_start(registrationForm) }} #}
                    
                    {# <div class="form-group row">
                        <label for="nom" class="col-sm-2 col-form-label">Nom</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" id="nom" name="nom[nom]">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="prenom" class="col-sm-2 col-form-label">Prenom</label>
                        <div class="col-sm-10">
                        <input type="prenom" class="form-control" id="prenom" name="prenom[prenom]">
                        </div>
                    </div>
                     <div class="form-group row">
                        <label for="prenom" class="col-sm-2 col-form-label">Prenom</label>
                        <div class="col-sm-10">
                        <input type="prenom" class="form-control" id="prenom" name="prenom[prenom]">
                        </div>
                    </div> #}
                    <div class="form-group row">
                        <div class="col-2">
                            {{ form_label(registrationForm.nom, 'Nom *') }}
                        </div>
                        
                        <div class="col-md-10">
                            {{ form_widget(registrationForm.nom) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-2">
                            {{ form_label(registrationForm.prenom, 'Prenom *') }}
                        </div>
                        
                        <div class="col-md-10">
                            {{ form_widget(registrationForm.prenom) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-2">
                            {{ form_label(registrationForm.email, 'Mail *') }}
                        </div>
                        
                        <div class="col-md-10">
                            {{ form_widget(registrationForm.email) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-2">
                            {{ form_label(registrationForm.societe, 'Société *') }}
                        </div>
                        
                        <div class="col-md-10">
                            {{ form_widget(registrationForm.societe) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-2">
                            {{ form_label(registrationForm.fonction) }}
                        </div>
                        
                        <div class="col-md-10">
                            {{ form_widget(registrationForm.fonction) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-2">
                            {{ form_label(registrationForm.adresseSociete) }}
                        </div>
                        
                        <div class="col-md-10">
                            {{ form_widget(registrationForm.adresseSociete) }}
                        </div>
                    </div>

                    <button type="submit" class="btn">Valider</button>
                {# {{ form_end(registrationForm) }} #}
            </div>


            <div class="col-5">
                {# {{ form_start(registrationForm) }} #}

                <div class="form-group row">
                        <div class="col-4">
                            {{ form_label(registrationForm.plainPassword, 'Mot de passe *') }}
                        </div>
                        
                        <div class="col-md-8">
                            {{ form_widget(registrationForm.plainPassword) }}
                        </div>
                    </div>

                {{ form_end(registrationForm) }}

            </div>
        </div>
        
        </div>
        
        
    </div>

    
{% endblock %}
