{% extends 'base.html.twig' %}

{% block title %}Mon espace{% endblock %}

{% block body %}
    <div class="container py-4">
        <div class="row formSearch">
            <div class="col-2">    
                {% if app.user.img %}
                    <img src="{{ asset('img/' ~app.user.img) }}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="img profil"> 
                {% else %}
                    <img src="{{ asset('img/avatar-159236_1280.png') }}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="img profil"> 
                {% endif %}
                <p>Bonjour {{ app.user.prenom}}, </p>
                <ul>
                    <li><a href="#">Mes factures</a></li>
                    <li><a href="#">Mon abonnement</a></li>
                </ul>
            </div>
            <div class="col-4 offset-3">
                <div class="row">
                    <h4>Espace Recruteur</h4>
                </div>
                {{ form_start(formulaire) }}
                <div class="row">
                    {{ form_widget(formulaire.titre) }}
                    {{ form_widget(formulaire.metier) }}
                   {# {{ form_widget(formulaire.experience) }} #}
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col text-center">
                                <p>Soft skills :</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form_widget(formulaire.capacites) }}
                                {# {{ form_widget(formulaire.softSkills2) }}
                                {{ form_widget(formulaire.softSkills3) }} #}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col text-center">
                                <p>Hard skills :</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form_widget(formulaire.competences) }}
                                {# {{ form_widget(formulaire.hardSkills2) }}
                                {{ form_widget(formulaire.hardSkills3) }} #}
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_end(formulaire ) }}
            </div>

            {% if app.request.method == 'POST' %}
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            {% if profils | length == 0 %}
                                <h2>Aucun résultat</h2>
                            {% else %}
                                <h2 class="my-5">Résultat de la recherche</h2>
                                {% for profil in profils %}
                                    <div class="container candidat mb-5">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="well well-sm">
                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-4">
                                                            <img src="{{ asset('img/' ~profil.img) }}" WIDTH ="100px" alt="" class="img-rounded img-responsive" />
                                                        </div>
                                                        <br>
                                                        <div class="col-sm-6 col-md-8">
                                                            <h4>{{ profil.prenom }} {{ profil.nom }}</h4>
                                                            <h5>{{ profil.titre }}</h5>
                                                            <i class="glyphicon glyphicon-gift"></i>{{ profil.age }} ans
                                                            <small><cite title="San Francisco, USA">Evry (91) <i class="glyphicon glyphicon-map-marker"></i></cite></small>
                                                            <p>
                                                                <i class="glyphicon glyphicon-envelope">email@example.com</i>
                                                                <br />
                                                                <i class="glyphicon glyphicon-globe"></i><a href="">Linkedin</a>
                                                                <br />
                                                            </p> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 pt-3">
                                                <p>Soft skills:</p>
                                                {% for soft in profil.capacites %}
                                                    <ul>
                                                        <small><li>{{ soft.capacite }}</li></small>
                                                    </ul>
                                                {% endfor %}
                                            </div>
                                            <div class="col-md-3 pt-3">
                                                <p>Hard skills:</p>
                                                {% for hard in profil.competences %}
                                                    <ul>
                                                        <small><li>{{ hard.competences }}</li></small>
                                                    </ul>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div> 
            {% endif %}
        </div>
    </div>
{% endblock %}
